# Sistema operativo
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Node.js
node_modules/

# IDEs e editori di testo
.idea/
.vscode/

# File Excel di output
*.xlsx 

# File di configurazione segreti
.env

# Directory dei dati e dei risultati
data/
results/
logs/
temp/

# Output temporanei o compilati
*.tmp
*.log
*.out
*.err

# Cartelle di build o output
build/
dist/

